.main-bar{
	min-height: rem-calc(140px);
	padding: 0 rem-calc(20px) rem-calc(30px) rem-calc(20px);
	.logo{
		width: 270px;
		margin: rem-calc(30px) 0 0 0;
		height: auto;
	}
	.lang-social-container{
		min-height: rem-calc(110px);

		ul{
			list-style-type: none;
			margin: 0;
		}
		.lang{
			li{
				display: inline-block;
				padding: .3rem .2rem;
				margin: 0 0 0 .6rem;
				font-family: 'Roboto Condensed';
			}
			.selected{
				border-top: 10px solid map-get($foundation-palette, primary);
			}
			.unselected a{
				color: $body-font-color;
			}
		}
		.social{
			li{
				display: inline-block;
				padding: .2rem 0 .2rem .6rem;
			}
		}
	}
}

