#page-full-width {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }
  }
}

#programs-page{

}

.visual-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 33vmin;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    height: rem-calc(200);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(320);
  }

  h1{
    display: block;
    color: $white;
    margin: 0 0 1.5rem 2rem;
    text-shadow: 3px 3px 3px rgba(0,0,0,.2);
  }
}

.card.program-card{
  margin-bottom: 2.5rem;
  h4{
    color: $grape;
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-weight: bold;
  }
  background: $light-grey-two;
  // max-width: 30%;
  .button{
    text-transform: uppercase;
    font-family: $secondary-font-family;
  }

}

.program-cards{
  li{
    min-width: 30%;
    max-width: rem-calc(360);
  }
  list-style: none;
  margin-top:1.5rem;
  justify-content:space-around;

}
