.get-involved-introduction{
  min-height: rem-calc(606);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  h1{
    margin: 0;
    align-self: flex-end;
  }
.get-involved-link{
  a{
      color: $grape;
      background: #ded9ce;
      text-transform: uppercase;
      padding: 0;
      &.button{
        border: 0;
      }
      h5{
        font-family: $secondary-font-family;
        font-weight: bold;
        margin: 1rem 0;
      }
    }
  }
}
