.flex-card-example {
  @include breakpoint(small) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include breakpoint(medium) {
    flex-direction: row;
  }

  .card {

    @include breakpoint(small) {
      width: 100%;
      img { width: 100%; }
    }

    @include breakpoint(medium) {
      width: 32%;
    }

    .card-content {
      padding: 1rem;
    }

  }
}


.contents-card{
  background: $light-grey;
  padding: 1rem;
  .contents{
    li{
      font-family: $secondary-font-family;
      color: $grape;
      text-transform: uppercase;
      font-weight: bold;
    }
    li:not(:last-child){
      border-bottom: 2px dotted $grape;
      padding-bottom: .5rem;
      margin-bottom: .5rem;
    }
  }
  @include breakpoint(medium up){
    font-size: rem-calc(20px);
  }
}

.contact-card{
  background: $cloudy-blue;

}

.card-intro{
  font-family: $secondary-font-family;
  padding-bottom: 0;
  color: $grape;
  text-transform: uppercase;
  font-weight: bold;
  @include breakpoint(medium up){
    font-size: rem-calc(20px);
  }
}

.inactive-contents-link a{
  color: #808077;
}
