.visual-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 33vmin;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    height: rem-calc(200);
  }

  @include breakpoint(large) {
    height: rem-calc(320);
  }

  h1{
    display: block;
    color: $white;
    margin: 0 0 1.5rem 2rem;
    text-shadow: 3px 3px 3px rgba(0,0,0,.2);
  }
  .programicon{
    width: rem-calc(128);
    top: rem-calc(64);
    height: auto;
    margin: 0 auto;
    position: relative;
    @include breakpoint(medium down) {
      width: rem-calc(96);
      top: rem-calc(48);
    }
  }
}

.visual-header.simple-header{
  justify-content: center;

  h1{
    margin: 0 0 0rem 2rem;
  }

  background-size: 50%;
  background-position: 94% 92%;
  background-repeat: no-repeat;
  background-color: $grape;

  @include breakpoint(medium) {
    height: rem-calc(205);
  }

  @include breakpoint(large) {
    height: rem-calc(205);
  }
}
